<!DOCTYPE html>
<html lang="es" style="height 100%; ">
<head>
    <title>Tu Mejor Oferta</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" >
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</head>
<body class="#e3f2fd blue lighten-5">
    <div class="container">
        <div class="row">

            <div class="col s12">
                <h2 style="text-align: center">Bienvenido a la mejor página de presupuestos</h2>
            </div>
            <div class= "col s12">
                <h5 style="text-align: center">Listado de productos:</h5>
            </div>

            <div class= "col s12">
               
                <table>
                    <thead>
                      <tr>


                          <th>Nombre del Producto</th>
                          <th>Jumbo</th>
                          <th>Unimarc</th>
                          <th>Lider</th>
                      </tr>
                    </thead>
            
                    <tbody>
                      <tr>
                        <td>Harina</td>
                        <td>$</td>
                        <td>$</td>
                        <td>$</td>
                      </tr>
                      <tr>
                        <td>Azúcar</td>
                        <td>$</td>
                        <td>$</td>
                        <td>$</td>
                      </tr>
                      <tr>
                        <td>Fideos</td>
                        <td>$</td>
                        <td>$</td>
                        <td>$</td>
                      </tr>
                      <tr>
                        <td>Tallarines</td>
                        <td>$</td>
                        <td>$</td>
                        <td>$</td>
                      </tr>
                      <tr>
                        <td>Arroz</td>
                        <td>$</td>
                        <td>$</td>
                        <td>$</td>
                      <tr>
                        <td>Té</td>
                        <td>$</td>
                        <td>$</td>
                        <td>$</td>  
                        <tr>
                            <td>Atún</td>
                            <td>$</td>
                            <td>$</td>
                            <td>$</td>
                            <tr>
                                <td>Aceite Vegetal</td>
                                <td>$</td>
                                <td>$</td>
                                <td>$</td>
                                <tr>
                                    <td>Salsa de Tomate</td>
                                    <td>$</td>
                                    <td>$</td>
                                    <td>$</td>
                                    <tr>
                                        <td>Porotos</td>
                                        <td>$</td>
                                        <td>$</td>
                                        <td>$</td>
                                        <tr>
                                            <td>Lentejas</td>
                                            <td>$</td>
                                            <td>$</td>
                                            <td>$</td>
                                            <tr>
                                                <td>Garbanzos</td>
                                                <td>$</td>
                                                <td>$</td>
                                                <td>$</td>
                                                <tr>
                                                    <td>Leche en Polvo</td>
                                                    <td>$</td>
                                                    <td>$</td>
                                                    <td>$</td>
                                                    <tr>
                                                        <td>Jurel Natural</td>
                                                        <td>$</td>
                                                        <td>$</td>
                                                        <td>$</td>
                                                        <tr>
                                                            <td>Sal Fina</td>
                                                            <td>$</td>
                                                            <td>$</td>
                                                            <td>$</td>
                                                            <tr>
                                                                <td>Puré de Papas</td>
                                                                <td>$</td>
                                                                <td>$</td>
                                                                <td>$</td>
                                                                <tr>
                                                                    <td>Mermelada</td>
                                                                    <td>$</td>
                                                                    <td>$</td>
                                                                    <td>$</td>
                                                                    <tr>
                                                                        <td>Detergente</td>
                                                                        <td>$</td>
                                                                        <td>$</td>
                                                                        <td>$</td>
                                                                        <tr>

                                                
                    </tbody>
                  </table>

            </div>
        </div>
    </div>   
</body>
</html>